{% extends 'base.html' %}

{% block content %}
<h2>Network Clients</h2>
<hr>
<div class="container-fluid" style="padding-bottom: 48px;">
    <table id="data" class="table table-striped" style="width: 100%;">
        <thead>
            <tr>
                <th>MAC Address</th>
                <th>IP Address</th>
                <th>Hostname</th>
                <th>Network</th>
                <th>Connected to</th>
                <th>Uptime</th>
                <th>Device assigned to</th>
                <th>Connected as</th>
                <th>Authentication Server</th>
                <th>Authentication Status</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="refreshToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
        <div class="toast-header">
            <strong class="me-auto"><span id="toastTitle"></span></strong>
            <small id="toastTime"></small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <span id="toastMessage"></span>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
const toast = new bootstrap.Toast(document.getElementById('refreshToast'));

function displayToast(title, message)
{
    var time = new Date().toLocaleTimeString();

    document.getElementById('toastTitle').textContent = title
    document.getElementById('toastTime').textContent = time;
    document.getElementById('toastMessage').textContent = message;

    toast.show();
}

$(document).ready(function () 
{
    var tbl = $('#data').DataTable(
    {
        ajax: '/api/omada/clients?format.uptime=true',
        stateSave: true,
        stateDuration: 360 * 24 * 3600,
        columns:
        [
            { data: 'mac' }, // 0
            { data: 'ip' }, // 1
            { data: 'hostName' }, // 2
            { data: 'connectedTo' }, // 3
            { data: 'connectionPort' }, // 4
            {
                data: 'uptime', // 5
                render: function(data, type, row)
                {
                    if (type === 'display' || type === 'filter')
                        return data.formatted;
                    
                    return data.raw;
                },
                searchable: false
            },
            { data: 'assignee' }, // 6
            { data: 'localUser' }, // 7
            { data: 'authServer' }, // 8
            {
                data: 'authStatus', // 9
                render: function(data, type, row)
                {
                    if (type === 'display' || type === 'filter')
                    {
                        switch(data)
                        {
                            case 0:
                                return "Non-authorized"
                            case 1:
                                return "Pending"
                            case 2:
                                return "Authorized"
                            case 3:
                                return "Permanent Bypass"
                            default:
                                return "Unknown"
                        }
                    }

                    return data
                }
            }
        ],
        columnDefs:
        [
            {
                searchPanes: { show: true },
                targets: [3, 4, 8]
            },
            {
                searchPanes: { show: false },
                targets: [0, 1, 2, 5, 6, 7]
            },
            {
                visible: false,
                targets: [8, 9]
            }
        ],
        order: [[6, 'asc']],
        fixedHeader: true,
        language:
        {
            searchBuilder:
            {
                button:
                {
                    0: 'Advanced Search',
                    _: 'Advanced Search (%d)'
                },
                title:
                {
                    _: 'Advanced Search (%d)',
                    0: 'Advanced Search'
                },
                data: 'Item'
            }
        },
        pageLength: 25,
        lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        layout:
        {
            top2Start: 'info',
            top2End: 
            {
                buttons: 
                [
                    {
                        extend: 'colvis',
                        text: 'Columns',
                        columns: ':not(:first-child)'
                    },
                    {
                        extend: 'collection',
                        text: 'Export…',
                        buttons:
                        [
                            {
                                extend: 'excelHtml5',
                                text: 'Excel',
                                autoFilter: true,
                                filename: `Kanri_Network_Clients_${new Date().toISOString().slice(0, 10)}`,
                                messageBottom: `Exported on ${new Date().toISOString().slice(0, 10)}. Generated by JACITA Kanri.`,
                                sheetName: 'Network Clients',
                                exportOptions: { columns: [0, 1, 2, 3, 4, 5, 6, 7] }
                            },
                            {
                                extend: 'pdfHtml5',
                                text: 'PDF',
                                filename: `Kanri_Network_Clients_${new Date().toISOString().slice(0, 10)}`,
                                download: 'open',
                                messageBottom: `Exported on ${new Date().toISOString().slice(0, 10)}. Generated by JACITA Kanri.`,
                                pageSize: 'A4',
                                orientation: 'landscape',
                                exportOptions: { columns: [0, 1, 2, 3, 4, 5, 6, 7] }
                            }
                        ]
                    },
                    {
                        extend: 'searchBuilder',
                        config: 
                        {
                            columns:
                            {
                                0: { type: 'string' },
                                1: { type: 'string' },
                                2: { type: 'string' },
                                3: { type: 'string' },
                                4: { type: 'string' },
                                6: { type: 'string' },
                                7: { type: 'string' },
                                8: { type: 'string' }
                            }
                        }
                    },
                    {
                        text: 'Refresh',
                        attr:  { id: 'btnRefresh' },
                        action: function (e, dt, node, config)
                        {
                            const btnRefresh = document.getElementById('btnRefresh');
                            btnRefresh.disabled = true;
                            btnRefresh.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Refreshing...';

                            displayToast('Data Refresh', 'Refreshing data from the server...');
                            dt.searchPanes.clearSelections();
                            
                            dt.ajax.reload(function()
                            {
                                setTimeout(() => dt.searchPanes.rebuildPane(), 2000);

                                btnRefresh.disabled = false;
                                btnRefresh.innerHTML = 'Refresh';

                                displayToast('Data Refresh', 'Data refreshed successfully.');
                            });
                        }
                    }
                ]
            },
            top1:
            {
                searchPanes:
                {
                    show: true,
                    initCollapsed: true,
                    cascadePanes: true
                }
            },
            bottomStart: null,
            bottomEnd: 'paging',
        }
    });
});
</script>
{% endblock %}