{% extends 'base.html' %}

{% block title %}404{% endblock %}

{% block content %}
<div class="container-sm" style="padding-top: 48px;">
    <div class="card text-center shadow">
        <div class="card-body">
            <a class="navbar-brand" href="/">
                <h1 class="display-1"><i class="fa-solid fa-crow"></i></h1>
            </a>
            <h5 class="card-title">Page Not Found</h5>
            <h1 class="display-1">404</h1>
            <p class="card-text">The page you are trying to reach does not exist or is currently under development.</p>
            <a href="/" class="btn btn-primary">Go Home</a>
        </div>
    </div>
</div>
{% endblock %}