{% extends 'base.html' %}

{% block content %}
<div class="about-page">
    <h1>Welcome to JACITA Kanri</h1>
    <p>
        JACITA Kanri is an internal tool for managing devices, device provisioning, and user access to the network.<br>
        It is designed to help the JACITA team manage various aspects of the organization's IT infrastructure efficiently and effectively.<br>
        This includes managing devices, users, and networks, as well as tracking changes and updates to the IT environment.
    </p>
    <p></p>
    <h3 style="margin-bottom: 20px">Background</h3>
    <h5>What is JACITA?</h5>
    <p>JACITA is an acronym for JAC IT Administration, the group of people who are responsible for administering various IT-related stuff in the organization.</p>
    <p></p>
    <h5>What is Kanri?</h5>
    <p>
        Kanri (管理) is a Japanese word that means "management" or "administration."<br>
        It is used in the context of managing or administering various aspects of the organization, such as devices, users, networks, and locations.
    </p>
    <h5>What is JACITA Kanri?</h5>
    <p>JACITA Kanri is simply a web application that helps the JACITA team manage various aspects of the organization's IT infrastructure.</p>
    <p>
        It provides a user-friendly interface to "talk" with the database and perform various operations, such as adding, updating, and deleting records.
        It also provides advanced features, such as searching, filtering, and exporting data, to help the team manage the IT environment more efficiently.
    </p>
</div>
{% endblock %}