{% extends 'base.html' %}

{% block content %}
<span class="float-end"><a class="btn btn-primary" href="/provision_device"><i class="fa-solid fa-stamp"></i> Checkout a Device</a></span>
<h2>{{ title }}</h2>
<hr>
<div class="container-fluid" style="padding-bottom: 48px;">
    <table id="data" class="table table-striped" style="width: 100%;">
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th style="text-align: left;">Checkout Date</th>
                <th>Device Serial Number</th>
                <th>Assigned to</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function () 
{
    var tbl = $('#data').DataTable(
    {
        ajax: '/api/provisioning/assigned_devices',
        columns: 
        [
            { 
                data: 'transaction_id',
                render: function (data, type, row) 
                {
                    if (type === 'export')
                        return data;

                    return `${data} &nbsp <a href="/provisioning/view/${row.transaction_id}" class="badge bg-secondary text-decoration-none"><i class="fa-regular fa-eye"></i> View Transaction</a>`;
                }
            },
            { 
                data: 'transaction_date',
                render: function (data, type, row) 
                {
                    return new Date(data).toLocaleString('ja-JP');
                }
            },
            { 
                data: 'device_serial_number',
                render: function (data, type, row) 
                {
                    if (type === 'export')
                        return data;
                    
                    return `${data} &nbsp <a href="/device/${row.device_serial_number}" class="badge bg-secondary text-decoration-none"><i class="fa-regular fa-eye"></i> View Device</a>`;
                }
            },
            { data: 'assignee' },
            {
                data: null,
                render: function (data, type, row) 
                {                    
                    return `<a href="/provisioning/return_device/${row.transaction_id}" class="btn btn-primary btn-sm"><i class="fa-solid fa-hand-holding-hand"></i> Return</a>`;
                }
            }
        ],
        columnDefs: 
        [
            { targets: [1], className: 'dt-body-left' }
        ],
        fixedHeader: true,
        pageLength: 25,
        lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        layout: 
        {
            top2Start: 'info',
            top2End: 'search',
            topStart: 'pageLength',
            topEnd: 
            {
                buttons: 
                [
                    {
                        extend: 'collection',
                        text: 'Export…',
                        buttons:
                        [
                            {
                                extend: 'excelHtml5',
                                text: 'Excel',
                                autoFilter: true,
                                filename: `Kanri_Assigned_Devices_${new Date().toISOString().slice(0, 10)}`,
                                messageBottom: `Exported on ${new Date().toISOString().slice(0, 10)}. Generated by JACITA Kanri.`,
                                sheetName: 'Devices',
                                exportOptions: 
                                {
                                    columns: [0, 1, 2, 3],
                                    orthogonal: 'export'
                                }
                            },
                            {
                                extend: 'pdfHtml5',
                                text: 'PDF',
                                filename: `Kanri_Assigned_Devices_${new Date().toISOString().slice(0, 10)}`,
                                download: 'open',
                                messageBottom: `Exported on ${new Date().toISOString().slice(0, 10)}. Generated by JACITA Kanri.`,
                                pageSize: 'A4',
                                orientation: 'landscape',
                                exportOptions: 
                                {
                                    columns: [0, 1, 2, 3],
                                    orthogonal: 'export'
                                }
                            }
                        ]
                    }                   
                ]
            },
            bottomStart: null,
            bottomEnd: 'paging',
        }
    });
});
</script>
{% endblock %}