{% extends 'base.html' %}

{% block content %}
{% if status == 'success' %}
<div class="alert alert-success" role="alert" id="alert">
    <i class="fa-solid fa-check"></i> {{ message|default('Changes saved successfully.') }}
</div>
{% elif status == 'exception' %}
<div class="alert alert-danger" role="alert" id="alert">
    <i class="fa-solid fa-triangle-exclamation"></i> An error occurred while saving changes. Exception: {{ message|default('-') }}
</div>
{% endif %}
<span class="float-end"><a class="btn btn-primary" href="/add_device"><i class="fa-solid fa-plus"></i> Add New Device</a></span>
<h2>Device Inventory</h2>
<hr>
<div class="container-fluid" style="padding-bottom: 48px;">
    <table id="data" class="table table-striped" style="width: 100%;">
        <thead style="vertical-align: middle;">
            <tr>
                <th rowspan="2">Serial Number</th>
                <th rowspan="2">Brand</th>
                <th rowspan="2">Model</th>
                <th rowspan="2">CPU</th>
                <th rowspan="2">RAM (GB)</th>
                <th colspan="2" data-dt-order="disable">MAC Address</th>
                <th rowspan="2">Status</th>
                <th rowspan="2" width="10%">Actions</th>
            </tr>
            <tr>
                <th>Wi-Fi</th>
                <th>Ethernet</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function () 
{
    var tbl = $('#data').DataTable(
    {
        ajax: '/api/devices',
        columns: 
        [
            { data: 'serial_number' },
            { data: 'brand', searchable: true, orderable: true },
            { data: 'model', searchable: true, orderable: true },
            { data: 'cpu', searchable: true, orderable: true },
            { data: 'physical_mem_size_gb', searchable: true, orderable: true },
            { data: 'wireless_mac', searchable: true, orderable: true },
            { data: 'ethernet_mac', searchable: true, orderable: true},
            { data: 'status', searchable: true, orderable: true},
            {
                name: 'actions', 
                searchable: false,
                ordertable: false,
                defaultContent: '<a href="/device" class="btn btn-primary btn-sm"><i class="fa-regular fa-eye"></i> View Details</a>',
                createdCell: function (cell, cellData, rowData, rowIndex, colIndex) 
                {
                    $(cell).find('a').attr('href', `/device/${rowData.serial_number}`);
                }
            }
        ],
        columnDefs: 
        [
            {
                searchPanes: { show: true },
                targets: [1, 2, 3, 4, 7]
            },
            {
                searchPanes: { show: false },
                targets: [0, 5, 6, 8]
            },
            {
                targets: [3, 4],
                visible: false
            }
        ],
        fixedHeader: true,
        language: 
        {
            searchBuilder: 
            {
                button: 
                {
                    0: 'Advanced Search',
                    _: 'Advanced Search (%d)'
                },
                title:
                {
                    _: 'Advanced Search (%d)',
                    0: 'Advanced Search'
                },
                data: 'Item'
            }
        },
        pageLength: 25,
        lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        layout: 
        {
            top3Start: 'info',
            top3End: 'search',
            top2Start: 'pageLength',
            top2End: {
                buttons: [
                    {
                        extend: 'colvis',
                        text: 'Columns',
                        columns: ':not(:first-child)'
                    },
                    {
                        extend: 'collection',
                        text: 'Export…',
                        buttons:
                        [
                            {
                                extend: 'excelHtml5',
                                text: 'Excel',
                                autoFilter: true,
                                filename: `Kanri_Devices_${new Date().toISOString().slice(0, 10)}`,
                                messageBottom: `Exported on ${new Date().toISOString().slice(0, 10)}. Generated by JACITA Kanri.`,
                                sheetName: 'Devices',
                                exportOptions: { columns: [0, 1, 2, 3, 4, 5, 6, 7] }
                            },
                            {
                                extend: 'pdfHtml5',
                                text: 'PDF',
                                filename: `Kanri_Devices_${new Date().toISOString().slice(0, 10)}`,
                                download: 'open',
                                messageBottom: `Exported on ${new Date().toISOString().slice(0, 10)}. Generated by JACITA Kanri.`,
                                pageSize: 'A4',
                                orientation: 'landscape',
                                exportOptions: { columns: [0, 1, 2, 3, 4, 5, 6, 7] }
                            }
                        ]
                    },
                    {
                        extend: 'searchBuilder',
                        config: 
                        {
                            columns: 
                            {
                                0: { type: 'string' },
                                1: { type: 'string' },
                                2: { type: 'string' },
                                3: { type: 'string'},
                                4: { type: 'integer'},
                                5: { type: 'string'}
                            }
                        }
                    }                    
                ]
            },
            top1: 
            {
                searchPanes: 
                {
                    show: true,
                    initCollapsed: true,
                    cascadePanes: true
                }
            },
            bottomStart: null,
            bottomEnd: 'paging',
        }
    });
});
</script>
{% endblock %}