{% extends 'base.html' %}

{% block content %}
{% if status == 'exception' %}
<div class="alert alert-danger" role="alert" id="alert">
    <i class="fa-solid fa-triangle-exclamation"></i> An error occurred while saving changes. Exception: {{ message|default('-') }}
</div>
{% endif %}
<div class="container-fluid" style="width: 90%; padding-bottom: 48px;">
    {% if edit %}
    <span><a href="/device/{{ device.serial_number }}" class="btn btn-secondary float-end"><i class="fa-solid fa-caret-left"></i> Back to device detail page</a></span>
    {% else %}
    <span><a href="/devices" class="btn btn-secondary float-end"><i class="fa-solid fa-caret-left"></i> Back to Devices</a></span>
    {% endif %}
    <h2>{{ title }}</h2>
    <hr>
    <form class="needs-validation" id="deviceForm" method="POST" novalidate>
        <div class="row">
            <h1>Device Information</h1>
        </div>
        {% if edit %}
        <input type="hidden" name="serial_number_original" value="{{ device.serial_number }}">
        {% endif %}
        <div class="row">
            <div class="col mb-3">
                <label for="serial_number" class="form-label">Serial Number</label>
                <input type="text" class="form-control" id="serial_number" name="serial_number" {% if edit %} value="{{ device.serial_number }}" {% endif %} required>
                <div class="form-text">
                    <b>The serial number of the device generated and assigned by the manufacturer.</b><br>
                    This is a unique identifier for the device.<br>
                    If the device is custom-built, set this to the serial number of the motherboard or the chassis if available.<br>
                    If the device does not have a serial number, create a unique identifier for the device.
                </div>
                <div class="invalid-feedback">Please provide a valid serial number.</div>
            </div>
            <div class="col mb-3">
                <label for="purchase_date" class="form-label">Purchase Date</label>
                <input type="date" class="form-control" id="purchase_date" name="purchase_date" {% if edit %} value="{{ device.purchase_date }}" {% endif %} required>
                <div class="form-text">
                    <b>The date when the device was purchased according to the receipt.</b><br>
                    This is the date when the device was bought and not the date when it was received.<br>
                    If the device is a custom-built, set this to the date when the device is assembled.
                </div>
                <div class="invalid-feedback">Please provide a valid purchase date.</div>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="type" class="form-label">Type</label>
                <select class="form-select" id="type" name="type" required>
                    <option value="Laptop">Laptop</option>
                    <option value="Desktop">Desktop/Tower</option>
                    <option value="All-in-One">All-in-One</option>
                    <option value="Tablet">Tablet</option>
                    <option value="Smartphone">Smartphone</option>
                    <option value="Server">Server</option>
                    <option value="Other">Other</option>
                </select>
                <div class="form-text">
                    Set this to the <b>type of the device</b> being added.<br>
                    <i>Note: A server suggests a device that is used to provide services to other devices on the network regardless of the form factor.</i>
                </div>
            </div>
            <div class="col mb-3">
                <label for="brand" class="form-label">Brand</label>
                <input type="text" class="form-control" id="brand" name="brand" {% if edit %} value="{{ device.brand }}" {% endif %} required>
                <div class="form-text">
                    <b>The brand of the device.</b><br>
                    e.g. Asus, Dell, HP, Lenovo, Apple, Samsung.<br>
                    If the device is custom-built, enter the name of the shop that assembled it or set it to "Custom" if built internally.
                </div>
                <div class="invalid-feedback">Please provide a valid brand name.</div>
            </div>
            <div class="col mb-3">
                <label for="model" class="form-label">Model</label>
                <input type="text" class="form-control" id="model" name="model" {% if edit %} value="{{ device.model }}" {% endif %} required>
                <div class="form-text">
                    <b>The full model of the device including the SKU code.</b><br>
                    e.g. Vivobook Pro 15 OLED M6500QC, IdeaPad 3 14IAU7-82RJ00CUID.<br>
                    If the device is custom-built, enter the model name as assigned by the shop or set it to "Custom" if built internally.
                </div>
                <div class="invalid-feedback">Please provide a valid model name.</div>
            </div>
            <div class="col mb-3">
                <label for="operating_system" class="form-label">Operating System</label>
                <select class="form-select" id="operating_system" name="operating_system" required>
                    <option value="Windows 11">Windows 11</option>
                    <option value="Windows 10 >">Windows 10 or earlier</option>
                    <option value="macOS">macOS</option>
                    <option value="Linux">Linux</option>
                    <option value="Chrome OS">Chrome OS</option>
                    <option value="iOS">iOS</option>
                    <option value="Android">Android</option>
                </select>
                <div class="form-text">
                    <b>The Operating System installed in the device at the time of provisioning.</b><br>
                    Remember not to set this to the operating system that it came in at the time of purchase.
                </div>
            </div>
        </div>
        <hr>
        <h3>Hardware Information</h3>
        <h5><i class="fa-solid fa-microchip"></i> Processor</h5>
        <div class="row">
            <div class="col mb-3">
                <label for="cpu" class="form-label">CPU</label>
                <input type="text" class="form-control" id="cpu" name="cpu" {% if edit %} value="{{ device.cpu }}" {% endif %} required>
                <div class="form-text"><b>Include the brand and the full model name but do not include the clock speed and other details.</b><br>e.g. Intel Core i5-1135G7, AMD Ryzen 7 5800X.</div>
                <div class="invalid-feedback">Please provide a valid CPU model. Check the format as mentioned above and try again.</div>
            </div>
            <div class="col mb-3">
                <label for="gpu" class="form-label">GPU</label>
                <input type="text" class="form-control" id="gpu" name="gpu" {% if edit %} value="{{ device.gpu }}" {% endif %}>
                <div class="form-text"><b>Include the brand and the full model name but do not include the clock speed and other details.</b><br>e.g. NVIDIA GeForce RTX 3060, AMD Radeon RX 6800 XT.</div>
                <div class="invalid-feedback">Please provide a valid GPU model. Check the format as mentioned above and try again. Leave it completely empty if the device does not have a dedicated GPU.</div>
            </div>
        </div>
        <h5><i class="fa-solid fa-memory"></i> Memory</h5>
        <div class="row">
            <div class="col mb-3">
                <label for="physical_mem_type" class="form-label">Type</label>
                <input type="text" class="form-control" id="physical_mem_type" name="physical_mem_type" {% if edit %} value="{{ device.physical_mem_type }}" {% endif %} required>
                <div class="form-text"><b>Include the type, speed, and whether it is slotted or soldered.</b><br>e.g. DDR4/2400/Slotted, DDR4L/3200/Soldered. </div>
                <div class="invalid-feedback">Please provide a valid memory type. Check the format as mentioned above and try again.</div>
            </div>
            <div class="col mb-3">
                <label for="physical_mem_size_gb" class="form-label">Size</label>
                <div class="input-group has-validation">
                    <input type="number" class="form-control" id="physical_mem_size_gb" name="physical_mem_size_gb" {% if edit %} value="{{ device.physical_mem_size_gb }}" {% endif %} required>
                    <span class="input-group-text">GB</span>
                    <div class="form-text">Set this to the <b>total amount of RAM installed</b> in the device.</div>
                    <div class="invalid-feedback">Please provide a valid memory size in GB.</div>
                </div>
            </div>
            <div class="col mb-3">
                <label for="physical_mem_slots" class="form-label">RAM Slots</label>
                <input type="number" class="form-control" id="physical_mem_slots" name="physical_mem_slots" {% if edit %} value="{{ device.physical_mem_slots }}" {% else %} value="0"  {% endif %} required>
                <div class="form-text">If the RAM is soldered and has no extra slots for expansion, set this to 0. Else, if there are slots for expansion, set this to the total number of slots available.</div>
            </div>
            <div class="col mb-3">
                <label for="physical_mem_slots_used" class="form-label">RAM Slots Used</label>
                <input type="number" class="form-control" id="physical_mem_slots_used" name="physical_mem_slots_used" {% if edit %} value="{{ device.physical_mem_slots_used }}" {% else %} value="0" {% endif %} required>
                <div class="form-text">Set this to the number of slots that are currently used. The soldered RAM is not counted.</div>
            </div>
        </div>
        <h5><i class="fa-solid fa-hard-drive"></i> Storage</h5>
        <div class="row">
            <div class="col mb-3">
                <label for="storage_type" class="form-label">Type</label>
                <select class="form-select" id="storage_type" name="storage_type" required>
                    <option value="3.5/HDD">3.5/HDD</option>
                    <option value="2.5/HDD">2.5/HDD</option>
                    <option value="2.5/SSD">2.5/SSD</option>
                    <option value="M.2/NVMe">M.2/NVMe</option>
                    <option value="M.2/SATA">M.2/SATA</option>
                    <option value="mSATA">mSATA</option>
                    <option value="eMMC">eMMC</option>
                </select>
                <div class="form-text">Set this to the <b>type of the primary storage installed</b> in the device. Additions are not to be considered.</div>
            </div>
            <div class="col mb-3">
                <label for="storage_size_gb" class="form-label">Size</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="storage_size_gb" name="storage_size_gb" {% if edit %} value="{{ device.storage_size_gb }}" {% endif %} required>
                    <span class="input-group-text">GB</span>
                    <div class="form-text">Set this to the <b>size of the primary storage installed</b> in the device. Additions are not to be counted. Use the size as advertised on the device technical specifications.</div>
                    <div class="invalid-feedback">Please provide a valid <b>storage size in GB</b> not in TB.</div>
                </div>
            </div>
        </div>
        <h5><i class="fa-solid fa-display"></i> Display</h5>
        <div class="row">
            <div class="col mb-3">
                <label for="internal_display_type" class="form-label">Type</label>
                <select class="form-select" id="internal_display_type" name="internal_display_type">
                    <option value="">No internal display</option>
                    <option value="LCD/TN">LCD/TN</option>
                    <option value="LCD/IPS">LCD/IPS</option>
                    <option value="LCD/VA">LCD/VA</option>
                    <option value="LED/OLED">LED/OLED</option>
                    <option value="Retina">Retina</option>
                </select>
                <div class="form-text">Set this to the <b>type of the internal display</b> of the device if it has one. Else, leave it empty.</div>
            </div>
            <div class="col mb-3">
                <label for="internal_display_size_inch" class="form-label">Size</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="internal_display_size_inch" name="internal_display_size_inch" {% if edit %} value="{{ device.internal_display_size_inch}}" {% endif %}>
                    <span class="input-group-text">inch</span>
                </div>
                <div class="form-text">Set this to the <b>size of the internal display</b> of the device if it has one. Else, leave it empty.</div>
                <div class="invalid-feedback">Please provide a valid screen size in inches. If the device does not have an internal display, leave it empty and set the type to "No internal display".</div>
            </div>
            <div class="col mb-3">
                <label for="internal_display_resolution" class="form-label">Resolution (Pixels)</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="internal_display_resolution_w" name="internal_display_resolution_w" {% if edit %} value="{{ device.internal_display_resolution.split('x')[0] }}" {% endif %}>
                    <span class="input-group-text">x</span>
                    <input type="text" class="form-control" id="internal_display_resolution_h" name="internal_display_resolution_h" {% if edit %} value="{{ device.internal_display_resolution.split('x')[1] }}" {% endif %}>
                    <span class="input-group-text">pixels</span>
                    <div class="form-text">Set this to the <b>resolution of the internal display</b> of the device if it has one. Use the resolution as advertised in the technical specifcations, not the configured resolution. Else, leave it empty.</div>
                    <div class="invalid-feedback">Please provide a valid resolution in pixels. If the device does not have an internal display, leave it empty.</div>
                </div>
            </div>
            <div class="col mb-3">
                <label for="is_touchscreen" class="form-label">Touchscreen?</label>
                <select class="form-select" id="is_touchscreen" name="is_touchscreen">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                <div class="form-text">Set this to Yes if the internal display of the device is a touchscreen. Else, set it to No.</div>
            </div>
        </div>
        <hr>
        <h3><i class="fa-solid fa-network-wired"></i> Network Information</h3>
        <p>
            For the following information, you can enter them in either all capital or all lower case.<br>
            <a href="#" data-bs-toggle="collapse" data-bs-target="#mac-how-to" aria-expanded="false" aria-controls="mac-how-to">How to get the MAC addresses?</a>
            <div class="collapse" id="mac-how-to">
                <div class="card card-body">
                    To retrive a list of MAC addresses in a computer, follow these steps:<br>
                    <ol>
                        <li>
                            Windows
                            <ol>
                                <li>Open Command Prompt, PowerShell, or Windows Terminal.</li>
                                <li>Type <kbd>getmac /v /fo list</kbd> and press <kbd>Enter</kbd>.</li>
                            </ol>
                        </li>
                        <li>
                            macOS
                            <ol>
                                <li>Open Terminal.</li>
                                <li>Type <kbd>ifconfig</kbd> and press <kbd>Enter</kbd>.</li>
                            </ol>
                        </li>
                        <li>
                            Linux
                            <ol>
                                <li>Open Terminal.</li>
                                <li>Type <kbd>ifconfig</kbd> and press <kbd>Enter</kbd>.</li>
                            </ol>
                    </ol>
                </div>
            </div>
            <b>Use colon <kbd>:</kbd> as the separator. Do not use dashes <kbd>-</kbd> or spaces <kbd> </kbd>.</b>
        </p>
        <div class="row">
            <div class="col mb-3">
                <label for="wireless_mac" class="form-label">Wi-Fi MAC Address</label>
                <input type="text" class="form-control" id="wireless_mac" name="wireless_mac" placeholder="xx:xx:xx:xx:xx:xx" {% if edit %} value="{{ device.wireless_mac }}" {% endif %}>
                <div class="form-text">Set this to the <b>Wi-Fi MAC address</b> of the device if it has one. Else, leave it empty.</div>
                <div class="invalid-feedback">Please provide a valid Wi-Fi MAC address. Make sure the delimiter is a colon and the format is correct.</div>
            </div>
            <div class="col mb-3">
                <label for="ethernet_mac" class="form-label">Ethernet MAC Address</label>
                <input type="text" class="form-control" id="ethernet_mac" name="ethernet_mac" placeholder="xx:xx:xx:xx:xx:xx" {% if edit %} value="{{ device.ethernet_mac }}" {% endif %}>
                <div class="form-text">Set this to the <b>Ethernet MAC address</b> of the device if it has one. Else, leave it empty.</div>
                <div class="invalid-feedback">Please provide a valid Ethernet MAC address. Make sure the delimiter is a colon and the format is correct.</div>
            </div>
        </div>
        {% if edit %}
        <button type="submit" class="btn btn-primary" formaction="/api/device/edit"><i class="fa-regular fa-floppy-disk"></i> Save Changes</button>
        <button type="button" class="btn btn-outline-danger" onclick="show_delete_modal()"><i class="fa-regular fa-trash-can"></i> Delete Device</button>
        {% else %}
        <button type="submit" class="btn btn-primary" formaction="/api/device/add"><i class="fa-regular fa-floppy-disk"></i> Add Device</button>
        <button type="button" class="btn btn-outline-danger" onclick="show_reset_modal()"><i class="fa-solid fa-clock-rotate-left"></i> Reset Form</button>
        {% endif %}
    </form>
    {% if edit %}
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Device</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this device?</p>
                    <p><mark>This action cannot be undone.</mark></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" onclick="delete_device()">Delete</button>
                </div>
            </div>
        </div>  
    </div>
    {% else %}
    <div class="modal fade" id="resetModal" tabindex="-1" aria-labelledby="resetModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="resetModalLabel">Reset Form</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to reset the form?</p>
                    <p><mark>This action will clear the form and this cannot be undone.</mark></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" onclick="reset_form()">Reset</button>
                </div>
            </div>
        </div>  
    </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
    function show_reset_modal() {
        var modal = new bootstrap.Modal(document.getElementById('resetModal'), { keyboard: false });
        modal.show();
    }

    function reset_form() {
        document.getElementById('deviceForm').reset();
        $('#resetModal').modal('hide');
    }

    // Validate form inputs
    function extra_form_validation() {
        var valid = true;

        // Validate purchase date
        var purchase_date = document.getElementById('purchase_date');
        var inputDate = new Date(purchase_date.value);
        var today = new Date();

        if (purchase_date.value.match(/^\d{4}-\d{2}-\d{2}$/) && inputDate < today)
        {
            purchase_date.setCustomValidity('');
        }
        else
        {
            valid = false;
            purchase_date.setCustomValidity('Enter a valid purchase date.');
        }

        // Validate CPU
        var cpu = document.getElementById('cpu');
        if (cpu.value.match(/^(Intel (Core|Pentium|Celeron)|AMD (Ryzen|Athlon|A-Series)|MediaTek (Dimensity|Helio)|Exynos [0-9]+|Qualcomm Snapdragon+|Apple A[0-9]+|ARM Cortex-[A-Za-z0-9-]+) [A-Za-z0-9- ]+$/))
        {
            cpu.setCustomValidity('');
        }
        else
        {
            valid = false;
            cpu.setCustomValidity('Enter a valid CPU model.');
        }

        // Validate GPU
        var gpu = document.getElementById('gpu');
        if (gpu.value == '' || gpu.value.match(/^(NVIDIA GeForce [A-Za-z0-9-]+|AMD Radeon [A-Za-z0-9-]+|Intel (UHD|Iris Xe|HD Graphics|Xe Graphics)|Apple M[0-9]+|Qualcomm Adreno+|ARM Mali-[A-Za-z0-9-]+|Mali-[A-Za-z0-9-]+) [A-Za-z0-9- ]+$/))
        {
            gpu.setCustomValidity('');
        }    
        else
        {
            valid = false;
            gpu.setCustomValidity('Enter a valid GPU model.');
        }

        // Validate memory type
        var physical_mem_type = document.getElementById('physical_mem_type');
        if (physical_mem_type.value.match(/^(DDR[2-5]{1,2}[LS]?|LPDDR[3-5])\/\d{3,4}\/(Slotted|Soldered)$/))
        {
            physical_mem_type.setCustomValidity('');
        }
        else
        {
            valid = false;
            physical_mem_type.setCustomValidity('Enter a valid memory type.');
        }

        // Validate internal display resolution
        var internal_display_resolution_w = document.getElementById('internal_display_resolution_w');
        var internal_display_resolution_h = document.getElementById('internal_display_resolution_h');

        if (internal_display_resolution_w.value.match(/^\d{3,4}$/))
        {
            internal_display_resolution_w.setCustomValidity('');
        }
        else
        {
            valid = false;
            internal_display_resolution_w.setCustomValidity('Enter a valid resolution width in pixels.'); 
        }

        if (internal_display_resolution_h.value.match(/^\d{3,4}$/)) 
        {
            internal_display_resolution_h.setCustomValidity('');
        }
        else
        {
            valid = false;
            internal_display_resolution_h.setCustomValidity('Enter a valid resolution height in pixels.');
        }

        // Validate screen size
        var internal_display_type = document.getElementById('internal_display_type');
        var internal_display_size_inch = document.getElementById('internal_display_size_inch');

        if (internal_display_type.selectedIndex == 0 || internal_display_size_inch.value.match(/^\d{1,2}(\.\d{1,2})?$/))
        {
            internal_display_size_inch.setCustomValidity('');
        }
        else
        {
            valid = false;
            internal_display_size_inch.setCustomValidity('Enter a valid screen size in inches.');
        }

        // Validate Wi-Fi MAC address
        var wireless_mac = document.getElementById('wireless_mac');
        if (wireless_mac.value == '' || wireless_mac.value.match(/^([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})$/))
        {
            wireless_mac.setCustomValidity('');
        }
        else
        {
            valid = false;
            wireless_mac.setCustomValidity('Enter a valid Wi-Fi MAC address.');
        }

        // Validate Ethernet MAC address
        var ethernet_mac = document.getElementById('ethernet_mac');
        if (ethernet_mac.value == '' || ethernet_mac.value.match(/^([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})$/))
        {
            ethernet_mac.setCustomValidity('');
        }
        else
        {
            valid = false;
            ethernet_mac.setCustomValidity('Enter a valid Ethernet MAC address.');
        }

        return valid;
    }

    var form = document.getElementById('deviceForm');

    form.addEventListener('change', extra_form_validation);

    // Run validation as user types
    form.addEventListener('input', extra_form_validation);

    form.addEventListener('submit', function (event) {
        if (!extra_form_validation()) {
            event.preventDefault();
            event.stopPropagation();
        }

        form.classList.add('was-validated');
    });
</script>

{% if edit %}
<script>
    function selectElement(id, valueToSelect) 
    {    
        let element = document.getElementById(id);
        element.value = valueToSelect;
    }

    selectElement('type', '{{ device.type }}');
    selectElement('physical_mem_type', '{{ device.physical_mem_type }}');
    selectElement('storage_type', '{{ device.storage_type }}');
    selectElement('internal_display_type', '{{ device.internal_display_type }}');
    selectElement('is_touchscreen', '{{ device.is_touchscreen }}');
    selectElement('operating_system', '{{ device.operating_system }}');

    function show_delete_modal()
    {
        var modal = new bootstrap.Modal(document.getElementById('deleteModal'), { keyboard: false });
        modal.show();
    }

    function delete_device()
    {
        document.querySelector('form').setAttribute('action', '/api/device/delete');
        document.querySelector('form').submit();
    }
</script>
{% endif %}

{% endblock %}