{% extends 'base.html' %}

{% block content %}
{% if status == 'success' %}
<div class="alert alert-success" role="alert" id="alert">
    <i class="fa-solid fa-check"></i> {{ message|default('Changes saved successfully.') }}
</div>
{% elif status == 'exception' %}
<div class="alert alert-danger" role="alert" id="alert">
    <i class="fa-solid fa-triangle-exclamation"></i> An error occurred while saving changes. Exception: {{ message|default('-') }}
</div>
{% endif %}
<h2>{{ title }}</h2>
<hr>
<div class="row mb-4">
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h1 class="display-5"><i class="fa-solid fa-user-lock"></i></h1>
                <h5 class="card-title">Provisioned Devices</h5>
                <p class="card-text">View and manage devices that are currently provisioned/assigned to users.</p>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col d-flex align-items-center">
                        <small class="card-text text-muted" style="bottom: 0">{{ count_provisioned_device }} provisioned device{% if count_provisioned_device > 1 %}s{% endif %}</small>
                    </div>
                    <div class="col">
                        <a href="/provisioned_devices" class="btn btn-primary float-end">View Assigned Devices</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h1 class="display-5"><i class="fa-solid fa-stamp"></i></h1>
                <h5 class="card-title">Provision a Device</h5>
                <p class="card-text">Assign a device to users for work or education, and checkout the device.</p>
            </div>
            <div class="card-footer">
                <a href="/provision_device" class="btn btn-primary float-end">Checkout a Device</a>
            </div>
        </div>
</div>
{% endblock %}