{% extends 'base.html' %}

{% block content %}
<div class="row subheader">
    <h1>Welcome to JACITA Kanri</h1>
    <p>JACITA Kanri is an internal tool for managing devices, device provisioning, and user access to the network.</p>
</div>
<hr>
<div class="container-md">
    <h1>External Links</h1>
    <div class="row mb-4">
        <div class="col-md-2">
            <div class="card h-100">
                <div class="card-body">
                    <span>
                        <a href="https://jacschool.freshdesk.com/a/dashboard/default" target="_blank" class="stretched-link float-end"><i class="fa-solid fa-up-right-from-square"></i></a>
                        <p class="card-text"><i class="fa-solid fa-ticket"></i> Freshdesk</p>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card h-100">
                <div class="card-body">
                    <span>
                        <a href="https://www.helpwire.app/account" target="_blank" class="stretched-link float-end"><i class="fa-solid fa-up-right-from-square"></i></a>
                        <p class="card-text"><i class="fa-solid fa-headset"></i> Helpwire</p>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card h-100">
                <div class="card-body">
                    <span>
                        <a href="https://jacschool.atlassian.net/jira/" target="_blank" class="stretched-link float-end"><i class="fa-solid fa-up-right-from-square"></i></a>
                        <p class="card-text"><i class="fa-brands fa-jira"></i> R&D Jira</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <h1>Quick Access Links</h1>
    <p>Use the links below to navigate to the different sections of the application.</p>
    <div class="row mb-4">
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h1 class="display-5"><i class="fa-solid fa-laptop-file"></i></h1>
                    <h5 class="card-title">Devices</h5>
                    <p class="card-text">View and manage device inventory in the organization.</p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col d-flex align-items-center">
                            <small class="card-text text-muted float-start">{{ count_device }} registered device{% if count_device > 1 %}s{% endif %}</small>
                        </div>
                        <div class="col">
                            <a href="/devices" class="btn btn-primary float-end">Device Inventory</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h1 class="display-5"><i class="fa-solid fa-clipboard-user"></i></h1>
                    <h5 class="card-title">Provisioning</h5>
                    <p class="card-text">Assign devices to users for work or education, and checkout devices when the device is deployed.</p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col d-flex align-items-center">
                            <small class="card-text text-muted float-start">{{ count_assigned_device }} provisioned device{% if count_assigned_device > 1 %}s{% endif %}</small>
                        </div>
                        <div class="col">
                            <a href="/provisioning" class="btn btn-primary float-end">Provisioning Center</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h1 class="display-5"><i class="fa-solid fa-diagram-project"></i></h1>
                    <h5 class="card-title">Network Users</h5>
                    <p class="card-text">View users connected to the network and their device assignment information if available.</p>
                </div>
                <div class="card-footer">
                    <a href="/network/omada/clients" class="btn btn-primary float-end">Omada Client List</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h1 class="display-5"><i class="fa-solid fa-user-lock"></i></h1>
                    <h5 class="card-title">RADIUS Dashboard</h5>
                    <p class="card-text">Manage your RADIUS user account (Network Authentication).</p>
                </div>
                <div class="card-footer">
                    <a href="/network/radius" class="btn btn-primary float-end">RADIUS Dashboard</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body"> 
                    <span class="badge bg-secondary float-end">Under Development</span>         
                    <h1 class="display-5"><i class="fa-solid fa-book"></i></h1>
                    <h5 class="card-title">Reports</h5>
                    <p class="card-text">Generate reports on devices, users, and network activity.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary float-end">Report Center</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}